body {
    background-color: hsl(106, 28%, 57%);
    background-image: url("./assets/pokemon-background.png");
    background-repeat: repeat-x;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header-logo {
    margin: 5px 0 20px;
}

.pokedex-items {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
}